.adContainer {
  position: fixed;
  bottom: 60px; /* Above the navigation */
  left: 0;
  right: 0;
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-top: 1px solid #eee;
  z-index: 90;
}

.adContainer.withMiniPlayer {
  bottom: 140px; /* Above navigation + mini player */
}

.adContainer ins {
  width: 100%;
  max-width: 100%;
}
