.adContainer {
  position: fixed;
  bottom: 60px; /* Above the navigation */
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-top: 1px solid #eee;
  z-index: 90;
  overflow: hidden;
}

.adContainer ins {
  width: 100%;
  max-width: 100%;
}
